.wrapper {
  width: 100%;
  background: grey;
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
}

.html {
  width: 90%;
  background-color: aquamarine;
}

.css {
  width: 70%;
  background-color: blueviolet;
}
